In [96]:
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import preprocessing
import numpy as np

In [97]:

csv_file =os.getcwd()+"\\data\\bank\\bank.csv"
df = pd.read_csv(csv_file, sep=";")

In [102]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [103]:
le = preprocessing.LabelEncoder().fit(df['loan'])
df['loan'] = le.transform(df['loan'])
le = LabelEncoder()
df['education'] = le.fit_transform(df['education'])

In [104]:
df.describe()

,age,education,balance,loan,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1.231365,1422.657819,0.152842,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,0.748744,3009.638142,0.359875,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,0.000000,-3313.000000,0.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,1.000000,69.000000,0.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,1.000000,444.000000,0.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,2.000000,1480.000000,0.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,3.000000,71188.000000,1.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [116]:
X = ['duration','education','campaign']
y= 'loan'

In [117]:
train_df, test_df = train_test_split(df, test_size=0.20, random_state = 2)

In [118]:
X_train, X_test = train_df[X], test_df[X]
y_train, y_test = train_df[y], test_df[y]

In [119]:
X_train, X_test = X_train.astype(int), X_test.astype(int)
y_train, y_test = y_train.astype(int), y_test.astype(int)

In [120]:
model = LogisticRegression().fit(X_train, y_train)

In [121]:
model.score(X_test, y_test)

0.8574585635359117

In [122]:
y_test.describe()

count    905.000000
mean       0.142541
std        0.349798
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000
Name: loan, dtype: float64

In [129]:
probas = model.predict_proba(X_test)

In [143]:
datas = [pd.DataFrame(probas, columns=['proba_0', 'proba_1']), pd.DataFrame(y_test.reset_index(drop=True))]

In [144]:
results = pd.concat(datas, axis=1)
results

      proba_0   proba_1  loan
0    0.843889  0.156111     0
1    0.856787  0.143213     1
2    0.837964  0.162036     0
3    0.836451  0.163549     0
4    0.810747  0.189253     0
..        ...       ...   ...
900  0.838659  0.161341     0
901  0.837578  0.162422     0
902  0.836936  0.163064     0
903  0.837142  0.162858     1
904  0.843547  0.156453     0

[905 rows x 3 columns]

In [145]:
results['predcted_label'] = np.where(results['proba_0']>0.5, '0', '1')

In [146]:
results

      proba_0   proba_1  loan predcted_label
0    0.843889  0.156111     0              0
1    0.856787  0.143213     1              0
2    0.837964  0.162036     0              0
3    0.836451  0.163549     0              0
4    0.810747  0.189253     0              0
..        ...       ...   ...            ...
900  0.838659  0.161341     0              0
901  0.837578  0.162422     0              0
902  0.836936  0.163064     0              0
903  0.837142  0.162858     1              0
904  0.843547  0.156453     0              0

[905 rows x 4 columns]